
*{
    margin: .5rem;
    box-sizing: border-box;
}

body{
    font-size: 16pt;
    line-height: 1,5;
    font-family: 'Montserrat', 'Abel', sans-serif;
    color: #333;
    height: 100%;
}

header, footer {

    background-color: #ea526f;
    text-align: center;
    color:#ffffff;
    padding: 1rem;
    border-radius: 10px;
    
}


footer {
    font-size: 0.9rem;
    padding: 10px;
}


header img {
	width: 200px;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}

h1{
    font-size: 2rem;
    text-align: center;
   }

h2{
    font-size: 1.5rem;
    
}

.copyright{
    text-align: center;
    margin: 0 auto;
}

p{
text-align: center;
margin: 0 auto;

}

header, main, footer{
    margin: 0 auto;
    padding: 0,75rem;
    max-width: 35rem;
}

header {
    margin-top: 10px;
}

ul, li {
    font-size: 1rem;
}