
@import url('https://fonts.googleapis.com/css?family=Abel&Montserrat&display=swap');

body{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'Montserrat', 'Abel', sans-serif;
}

a.custom-link {
    color: white;
    background-color: #4d4dff;
}
  
  
.header{
    font-family: 'Montserrat', 'Abel', sans-serif;
    color: black;
    background-color: #f0f0f0;
}
  
.raised {
    box-shadow: 0rem 0rem 1rem 0.5rem #0005;
  }
  
.text-raised {
    text-shadow: 4px 4px 16px #0009;
}
  
.flex {
    display: flex;
}
  
.j-center{
    justify-content: center;
}
  
.f-column{
    flex-direction: column;
}
  
.a-center{
    align-items: center;
  
}
  
.center{
    justify-content: center;
    align-items: center;
}
  
.card {
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: #ea256f;
}
  
.img-box {
    height: 8rem;
    width: 7rem;
    border-radius: 0.25rem;
    margin-right: 2.5rem;
    margin-left: 1rem;
    object-fit: cover;
}
  
.link-box {
    border-bottom: 0.1rem solid #c5c5c5;
    border-top: 0.1rem solid #c5c5c5;
}
  
.text-white {
    color: white;
}
  
.text-yellow {
    color: yellow;
}
  
.italic {
    font-style: italic;
}
  
.text-light {
    color: #454545;
}

p.custom-paragraph {
    color: #ffffff;
    background-color: #b50e48;
  }

p.custom-paragraphe {
    color: #ffff00;
    background-color: #b50e48;
  }

  a.custom-linke {
    color: #000000;
    background-color: #ffffff;
  }
  
  

