@media only screen and (min-width: 35rem) {
    footer {
      display: flex;
      flex-direction: column;
    }
    .toppart {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      justify-items: center;
      align-items: center;
    }
    .footerImg {
      justify-self: end;
    }
    main {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 1rem;
    }
    .blockOne {
      grid-column: 1/3;
      grid-row: 1/2;
      margin: 0;
      height: auto;
      position: relative;
    }
    .blockTwo {
      grid-column: 1/2;
      grid-row: 5/6;
      margin: 0;
      height: auto;
    }
    .blockThree {
      grid-column: 2/3;
      grid-row: 5/6;
      margin: 0;
      height: auto;
    }
    .blockFour {
      grid-column: 1/3;
      grid-row: 2/3;
      margin: 0;
      height: auto;
      
    }
    .blockFive {
      grid-column: 1/3;
      grid-row: 3/4;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: auto;
    }
    .sp1 {
      grid-row: 1/3;
      border: 1px solid black;
      margin: 0.8rem;
      padding: 1rem;
      background-color: #297373;
      height: auto;
    }
    .sp2 {
      grid-row: 1/3;
      border: 1px solid black;
      margin: 0.8rem;
      padding: 1rem;
      background-color: #297373;
      height: auto;
    }
    .sp3 {display: none;}
    .blockSix {
      display: block;
      grid-column: 1/3;
      grid-row: 4/5;
      height: auto;
      margin: 0;
      border: 1px solid black;
      padding: 1rem;
      background-color: #27187E;
    }
    .blockSix h2 {
      background-color: #27187E;
      color: white;
      padding: .8rem;
      box-shadow: 1px 1px 4px 1px #888;
          border-radius: 5px;
    }
   .discMain {
    display: block;
   }
   picture img:hover {box-shadow: 0 0 50px #333;}
    }

    /*                                             Trial                                                */

    