body {
    background-color: #e6fafc;
    font-family: "Montserrat", sans-serif;
    max-height: 914px;
    font-size: 18px;
  }
  header,
  main,
  footer {
    margin: 1.25rem auto;
  }
  header,
  footer {
    background-color: #27187e;
  }
  img {
    width: 130px;
  }
  .footerImg {
    width: 60px;
  }
  a > img {
    width: 45px;
    padding-top: 1rem;
  }
  .gram {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .logopage {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  picture > img {
    padding: 1rem;
  }
  h1,
  h2,
  h3 {
    font-family: "Carter One", cursive;
    color: white;
    padding-right: 0.5rem;
  }
  .blockOne h1 {
    color: #27187e;
  }
  .blockFive div h2 {
    color: black;
  }
  .blockFive div p {
    color: white;
  }
  .socials {
    display: flex;
    margin-right: 1rem;
  }
  nav button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff9ec;
    padding: 1rem;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav ul li a {
    display: block;
    text-decoration: none;
    padding: 0.8rem 1rem;
    color: #fff9ec;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
  nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffb2e6;
  }
  nav ul li a:hover {
    background-color: #8447ff;
  }
  nav ul {
    display: none;
  }
  nav ul.open {
    display: block;
  }
  #hamburgerBtn span:nth-child(1) {
    display: block;
  }
  #hamburgerBtn span:nth-child(2) {
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(1) {
    display: none;
  }
  #hamburgerBtn.open span:nth-child(2) {
    display: block;
  }
  
  .topdate {
    display: flex;
    justify-content: right;
    color: #fff9ec;
    padding-right: 1rem;
  }
  footer {
    color: #fff9ec;
    padding: 1rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
  #location a {
    color: #fff9ec;
  }
  .classFooter {
    border-top: 1px solid white;
    padding-top: 1rem;
  }
  .blockOne {
    position: relative;
    background-color: grey;
  }
  .blockOne picture {
    width: 100%;
    height: 100%;
  }
  .blockOne picture .heroImage {
    width: 100%;
    height: 100%;
  }
  .blockTwo {
    height: 15rem;
    margin: 0.3rem auto;
    border: 1px solid black;
    padding: 1rem;
    background-color: #27187e;
    color: white;
  }
  .blockThree {
    height: 15rem;
    margin: 0.3rem auto;
    border: 1px solid black;
    padding: 1rem;
    padding-bottom: 3rem;
    background-color: #27187e;
    color: white;
  }
  .blockFour {
    height: auto;
    margin: 0.3rem auto;
    border: 1px solid black;
    padding: 1rem;
    background-color: #27187e;
  }
  .blockFour h2 {
    color: white;
  }
  .blockFour p {
    color: white;
  }
  .blockFive {
    height: auto;
    margin: 0.3rem auto;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #27187e;
  }
  .sp1 {
    border: 1px solid black;
    margin: 0.8rem;
    margin-bottom: 0;
    padding: 1rem;
    background-color: #297373;
    color: white;
  }
  .sp1 h2 {
    color: white;
  }
  .sp1 p {
    color: white;
  }
  .sp2 {
    border: 1px solid black;
    margin: 0.8rem;
    margin-top: 0;
    padding: 1rem;
    background-color: #297373;
    color: white;
  }
  .sp2 h2,
  p {
    color: white;
  }
  .sp3 {
    display: none;
  }
  .blockSix {
    display: none;
  }
  
  .blockOne h1 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    margin: 0;
  }
  .blockOne h2 {
    position: absolute;
    top: 10rem;
    left: 17rem;
    margin: 0;
    background-color: #27187e;
    color: white;
    padding: 0.8rem;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 5px;
  }
  .blockTwo h2 {
    text-align: center;
  }
  .p2 {
    text-align: center;
    border-bottom: 1px solid white;
  }
  .blockThree h2 {
    text-align: center;
  }
  
  .joinUsMess {
    background-color: #e9d758;
    padding: 0.5rem;
    box-shadow: #7a0008 1px 1px 10px;
    top: 0rem;
    left: 0rem;
  }
  .joinUsMess p {
    color: black;
  }
  
  .blockThree p {
    border-top: 1px solid white;
  }
  .discMain {
    background-color: #27187e;
  }
  .discMain section {
    margin: 1rem;
  }
  .map {
    width: 100%;
  }
  .discMain section h1 {
    padding: 1rem;
  }
  .discMain section div {
    text-align: center;
    padding-bottom: 1rem;
  }
  .discMain section .gallery {
    display: flex;
  }
  picture img {
    width: 100%;
    filter:blur(0em);
    transition: filter 0.5s;
  }
  
  picture img[data-src]{
    filter: blur(0.2em);
  }
  .gallery p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  picture {
    padding-right: 1rem;
  }
  
  /*---------- FORM ----------*/
  
  .mainform {
  display: block;
  background-color: #27187e;
  }
  form fieldset {
    margin: 2rem 0;
    border: 2px solid white;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 100%;
    max-width: 40rem;
  }
  
  form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: white;
    font-size: 1rem;
  }
  
  form label.top input, form label.top textarea {
    --webkit-appearance:none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: lightgrey;
    width: 100%;
    max-width: 20rem;
    background-color: lightgrey;
  }
  
  form label.sbs {
    display: block;
    padding: .75rem 0;
    color: white;
  }
  
  form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
  }
  
  form label.top input:required {
    border-left: red solid 6px;
  }
  
  form label.top input:required:valid {
    border-left: green solid 6px;
  }
  .dirmain {
    display: block;
  }
  .cards {
    background-color: #297373;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  
  .cards section {
    border: 2px solid black;
    margin: .5rem;
    padding: 1rem;
  }
  .cards section img {
    margin: 2rem;
  }
  .menu {
      margin: 1rem auto;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0.5rem;
      background-color: #bbb;
      text-align: center;
  }
  
  .menu button {
      padding: 1rem;
      font-weight: 700;
  }
  
  .list {
      display: block;
  }
  
  .list section {
      display: block;
      margin: 0;
      padding: 0.25rem;
    border: none;
  }
  
  .list section > * {
      margin: 0 1rem;
  }
  
  .list section img {
      display: none; 
  }
  /*                         Trial                        */

  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');

.noDisplay {
    display: none;
}

h1, h2, h3, h4 {
    font-family: 'Abel', serif;
}

p, a {
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 1200px;
    min-width: 350px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

img {
    max-width: 100%;
}

                                        /*Header*/
header {
    background-color: #681e2e;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 5%;
    padding: 0 2% 3% 2%;
    border-radius: 10px;
    color: #f4f7f5;
}

/*section 1*/
.brand {
    display: flex;
    align-items: center;
}

.logo-link {
    width: 100px;
}

header .company {
    text-align: left;
    font-size: 60%;
    padding: 5%;
}

header .company h1 {
    margin-bottom: -5px;
}

/*section 2*/
.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social {
    display: flex;
}

.social a {
    margin-right: 10%;
    width: 40px;
}

#hamburgerBtn {
    text-align: end;
}

#hamburgerBtn {
    background-color: transparent;
    border: 1px solid #721121;
    font-size: 2rem;
    margin-top: -2%;
    color: white
}

#primaryNav ul {
    list-style-type: none;
    margin: .2rem 2vw;
    padding: 0;
    font-weight: 800;
}

.active {
    background-color: rgba(0,0,0,0.6);
    color: white;
}

header nav {display: none;}
header nav.open {
    display: block;
    grid-column: 1/4;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 2%;
}

header a {
    color: black;
}

#primaryNav a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.5);
}

#primaryNav a:hover {
    background-color: rgba(0,0,0,0.3);
}

/*current time*/
#currentTime {
    grid-column: 1/4;
    background-color: black;
    color: white;
    padding: 2% 0 2% 0;
}

/*meet and greet banner*/
#meetAndGreet {
    box-sizing: border-box;
    background-color: #ececec;
    padding: 2%;
    width: 100%;
}

#meetAndGreet span {
    color: white;
    background-color: #9E2B25;
    display: block;
    padding: 1% 0;
}

.activeBanner {
    display: block;
}

/*Main Styles*/
main {
    max-width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
}

main section, main div {
    margin: 2rem;
}

main section, main div {
    background-color: #ececec;
    border: 1px solid black;
}

main section p, main div p {
    color: #721121;;
    padding: 5%;
}

main section h2 {
    color: #721121;
}

/*Home Styles*/
#hero-banner {
    position: relative;
    padding: 0;
}

#hero-banner h2 {
    position: absolute;
    color: #721121;
    text-shadow: 2px 2px 5px #F28123;
    margin-left: 3%;
    font-size: 1.5rem;
}

#hero-banner a {
    background-color: cyan;
    color: white;
    text-decoration: none;
    position: absolute;
    /* box-shadow: 3px 3px 3px #603613; */
    padding: 3%;
    border-radius: 10px;
    bottom: 15%;
    right: 10%;
}

#hero-banner a:hover {
    background-color: #721121;
    color: white;
}

#hero-banner img {
    margin-bottom: -0.25rem;
}

.event h3{
    font-size: 110%;
    color: #721121;

}

.event p a {
    text-decoration: none;
    color: #721121;
}

.event p a:hover {
    color: #69140E;
}

#condition {
    display: block;
    color: #69140E;
    margin-top: -25px;
}

.weather {
    box-sizing: border-box;
    padding: 2%;
}

.weather div {
    height: 30%;
    width: 80%;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

.weather div p {
    font-size: 150%;
}

.weather p {
    margin: 0;
}

.spotlight {
    background-color: #ececec;
    padding: 2%;
    border: 1px solid black;
}

.spotlight img {
    max-width: 50%;
    margin: 5px 0;
}

.spotlight section {
    box-sizing: border-box;
    margin: 0;
    padding: 2%;
}

.spotlight section h3 {
    color: #721121;
    margin: 0;
}

.spotlight section h4 {
    font-size: 100%;
    margin: 0;
    color: #721121;
}

.spotlight section p {
    box-sizing: border-box;
    margin: 0;
    overflow-wrap: break-word;
}

.large-only, .medium-display {
    display: none;
}

                                           /*Discover Styles*/
#daysBetweenVisits {
    margin: 0 auto;
    width: 415px;
    display: block;
    box-sizing: border-box;
    background-color: #681e2e;
    color: white;
    padding: 2% 1% 2% 1%;
    font-size: 150%;
    border-radius: 10px;
}

.discover-imgs {
    box-sizing: border-box;
    border: 2px solid #764134;
    box-shadow: 10px 10px 15px #F4442E;
    width: 80%;
}

                                            /*Join Styles*/
form {
    text-align: start;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #721121;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #721121;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #721121;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form label.description textarea {
    display: block;
    padding: .75rem 0;
}

form label.description {
    display: block;
    color: #721121;
    padding: .75rem 0;
}

form input.submitBtn {
    border: none;
    background-color:  #681e2e;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    /* width: 96%; */
    max-width: 20rem;
    text-align: center;
}

form input.submitBtn:hover {
    background-color: #555;
}

form label.top input:required {
    border-left: palevioletred solid 6px;
}

form label.top input:required:valid{
    border-left: green solid 6px;
}

                                               /*Directory Styles*/
.businessCards img {
    width: 100%;
    height: auto;
}

#directory-main div {
    border: none;
    background-color: white;
    margin: 0;
}

#layoutBtn {
    width: 100px;
    height: 50px;
    margin-bottom: 15px;
}

.businessCards p {
    margin: 0;
    padding: 8px;
}

                                             /*Directory Grid*/
.directory-grid .businessCards section {
    padding: 5%;
    box-shadow: 8px 8px 10px #721121;
}

.directory-grid .businessName {
    display: none;
}

/*Directory List*/
.directory-list .businessCards img {
    display: none;
}

.directory-list .businessCards section {
    padding: 5%;
    margin: 0;
    text-align: start;
}

.directory-list .businessCards p {
    padding: 4px;
}

                                              /*Footer styles*/
footer {
    background-color: #681e2e;
    display: block;
    padding: 2% 2% 0 2%;
    align-items: center;
    font-size: 70%;
    border-radius: 10px;
}

.section1 section h2, .section2 h3 {
    font-size: 150%;
}

.section1 {
    max-width: 50%;
    margin-left: 25%;
}

.location {
    text-decoration: none;
    color: #1d2467;
    font-weight: 700;
    display: block;
    margin-top: 15px;
}

.location:hover {
    color: black;
}

.section2 {
    padding-bottom: 1%;
}

.section2 p {
    display: block;
}

.author {
    font-weight: 700;
    font-size: 130%;
}

hr {
    max-width: 80%;
}

/* ---------------------------------------------------Addition-------------------------------------------------------------- */

.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #bbb;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

.cards {
    background-color: #297373;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.dirmain {
    display: block;
}
