@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');

li {
    margin-bottom: 10px;
}

li button {
    font-size: 8px;
    margin-left: 20px;
    color: #666;
}


body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat', 'Abel', sans-serif;
}

h1 {
	font-size: 1.5rem;
}

.inner {
	color: rgb(0, 0, 0); 
	background-color: rgb(255, 255, 255);
}

.heading {
	color: rgb(0, 0, 0); 
	background-color: rgb(238, 130, 238);
}

main {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	background-color: violet;
	display: flex;
	flex-direction: column;
	
}



input,
button {
	padding: 0.5rem;
}

button {
	margin: 0.5rem;
}

.delete {
	width: fit-content;
}

.input {
	display: flex;
	gap: 1rem;
}

.list {
	padding: 0.5rem;
	background-color: #1b7e85;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 320px;
	}
}
