/* 
  ##Device = Tablets, Ipads 
  ##Screen = B/w 768px to 1024px
*/
@media only screen and (min-width: 601px) and (max-width: 900px){

    .table th,
  .table td {
    padding: 0.75em;
  }
  
    nav ul {
        flex-direction: row;
        justify-content: center;
        display: flex;
    }
    
    nav li {
        margin-right: 1rem;
    }

    nav li:last-child {
        margin-right: 0;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 620px;
        max-width: 720px;
        flex-wrap: wrap;
    }

    .cards .card {
        flex: 0 0 50%;
    }
}
