@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #681e2e;
    color: white;
}

nav {
    background-color: #C6AD94;
}

.headingpage1,
.headingpage2,
.headingpage3,
.headingpage4 {
    font-size: 25px;
    color: white;
}

h1 {
    font-size: 30px;
}


h3 {
    font-size: 20px;
}

h4,
p {
    font-size: 15px;
}

ul,
li,
ol {
    font-size: 15px;
}


header,
footer {

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

header,
nav,
main,
footer {
    max-width: 800px;

}


nav {
    background-color: #156160;
    text-align: center;
    box-shadow: 0 5px 15px gray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.70rem;
    text-decoration: none;
    font-size: 1rem;
}

.logo{
    display: flex;
    justify-content: center;
}


nav a:hover {
    text-decoration: underline;
}


.byu {
    color: white;
    background-color: transparent;

}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

th {
    text-align: center;
}

.sample1 {
    font-family: 'Montserrat', sans-serif;
    background-color: #681e2e;
    color: white;
    font-size: 30px;
}

.sample2 {
    font-family: 'Abel', sans-serif;
    background-color: #156160;
    color: white;
    font-size: 25px;

}

.sample3 {
    font-family: 'Abel', sans-serif;
    background-color: #7FB285	;
    color: white;
    font-size: 25px;
}

 .sample4 {
    font-family: 'Abel Magic', sans-serif;
    color: black;
    font-size: 22px;
}

.sample5 {
    font-family: 'Abel', sans-serif;
    color: #156160;
    font-size: 20px;
}

.sample6 {
    font-family: 'Abel', sans-serif;
    color: black;
    font-size: 18px;
}

.colors {
    width: 100%;
}